body {
    margin: 0;
    padding: 0;
    background-color: #1a2938;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 1rem;
    line-height: 1.25rem;
}
.wrapper {
    max-width: 70rem;
    margin: auto auto;
    background-color: #ffffff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
main  {
    margin: 0;
}

a {
    color: #1a2938;
}

#quizDiv{
    max-width: 100%;
    max-height: 600px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: red;
}
.menu {
    display: flex;
    flex-direction: block;
    justify-content: space-between;
    background-color: #f06e6e;
}

.menu li {
    display: block;
    color: #000000;
    background-color: #fff07d;
	padding: 10px;
	border: 2px solid #f06e6e;
	border-radius: 10px;
}

@media (min-width: 50rem) {
    .menu li
	{
		display: inline;
		margin: 0 1rem 0 0;
	}
}